@model TicketSystem.Web.ViewModels.ChangePasswordModel

    <section class="container vh-100 bg-image">
        <div class="mask d-flex align-items-center gradient-custom-3 " style="margin-top:50px">
            <div class="container ">
                <div class=" d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Change password</h2>

                                <div class="container">
                                    <form onsubmit="if(!confirm('Password will be changed. Are you sure?')){return false;}" asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true">
                                        <div class="validation" asp-validation-summary="ModelOnly"></div>

                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Old password</td>
                                                    <td><input type="password" asp-for="OldPassword" /></td>
                                                    <td><span asp-validation-for="OldPassword"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>New password</td>
                                                    <td><input type="password" asp-for="NewPassword" /></td>
                                                    <td><span asp-validation-for="NewPassword"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Confirm password</td>
                                                    <td><input type="password" asp-for="ConfirmPassword" /></td>
                                                    <td><span asp-validation-for="ConfirmPassword"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="submit" class="btn btn-primary btn-lg"
                                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
