<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="/js/JavaScript.js"></script>
</head>

<body>



    @*role definer*@
    @{
        string role = (((ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value)).FirstOrDefault();
    }
    @*role definer*@

    <header id="headerEl">
        @*navbar starts*@
        <div class="navbar navbar-expand-lg bg-dark navbar-dark py-3 ">
            <div class="container">
                <a asp-action="Index" asp-controller="Home"><img src="~/img/main-icon.png" alt="Alternate Text" width="60" height="60" /></a>
                <a asp-action="Index" asp-controller="Home" class="navbar-brand px-4">Pet project</a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Home</a></li>
                        @if (@User.Identity.Name == null)
                        {
                            <li class="nav-item"><a class="nav-link" asp-action="Register" asp-controller="Account">Register</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="Login" asp-controller="Account">Login</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a asp-action="MyAccount" asp-controller="Account" class="nav-link">@User.Identity.Name</a></li>
                            <li class="nav-item"><a asp-action="CreateNewTicket" asp-controller="Ticket" class="nav-link">Create a ticket</a></li>
                            <li class="nav-item"><a asp-action="Logout" asp-controller="Account" class="nav-link">Lougout</a></li>
                        }
                        @if (role == "admin")
                        {
                            <li class="nav-item"><a asp-action="UserManaging" asp-controller="Admin" class="nav-link">User managing</a></li>
                            <li class="nav-item"><a asp-action="GetTicketList" asp-controller="Ticket" class="nav-link">Ticket managing</a></li>
                        }
                        @if (role == "support")
                        {
                            <li class="nav-item"><a asp-action="GetTicketList" asp-controller="Ticket" class="nav-link">Ticket managing</a></li>
                        }
                        @if (role == "customer")
                        {
                            <li class="nav-item"><a asp-action="GetMyTickets" asp-controller="Ticket" class="nav-link">My tickets</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @*navbar ends*@
    </header>


    @*content starts*@
    <main>
        @RenderBody()
    </main>
    @*content ends*@


    <footer class="py-3 my-4 flex-shrink ">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a onclick="myFunction()" href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Test, Inc</p>
    </footer>

    <div class="loader">
        <span class="loader-inner"></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>
