@if (ViewData["state"] == null)
{
     <p>You are not logged in.</p>
}
else
{
    <div>
        <p>Your login is: @ViewData["state"]</p>
    </div>
}


<div>
    <a asp-action="Register" asp-controller="Account">Registrate</a>
</div>
<div>
    <a asp-action="Login" asp-controller="Account">Log in</a>
</div>
