@model TicketSystem.Web.ViewModels.ChangeUserPasswordModel

<div>
    <p>Chage password for user @Model.Username</p>
</div>
<div>
    <form asp-action="ChangeUserPassword" asp-controller="Admin" asp-antiforgery="true">
        <div class="form-group">
            <input asp-for="Id" type="hidden" value="@Model.Id" />
        </div>
        <div class="form-group">
            <input asp-for="Username" type="hidden" value="@Model.Username" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input type="password" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save Changes" />
        </div>
    </form>
</div>

