@model string

<section class="container vh-100 bg-image">
    <div class="mask d-flex align-items-center gradient-custom-3 " style="margin-top:50px">
        <div class="container">
            <div class=" d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 align-items-center">
                            <img src="/img/successchange.png" alt="Alternate Text" class="rounded mx-auto d-block" />
                            <h6 class="text-uppercase text-center mt-5 mb-5">@Model.ToString()</h6>
                            <div class="text-center">
                                <a button class="btn btn-success btn-block btn-lg gradient-custom-4 rounded mx-auto " asp-action="Index" asp-controller="Home">Okay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
